@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

.personal_label {
    font-family: "Montserrat", sans-serif;
    color: white;
}

.task_label {
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: center;
}

.remove {
    color:#fff;
    background-color:#dc3545;
    border-color:#dc3545;
}


